body {
      padding: 10px;
    }
    .profile-pic {
      max-width: 100%;
      width: 200px;
      height: auto;
      border-radius: 5px;
    }
    .section-title {
      margin-top: 30px;
    }
    table {
      margin-bottom: 20px;
    }

    hr {
        border: 1px solid black;
        width: 100%;
        margin: 20px auto;
    }

/* Media Query */
/* laptop */
@media (max-width: 992px) {
  html {
    font-size: 90%;
  }
}

/* tablet */
@media (max-width: 768px) {
  html {
    font-size: 85%;
  }
}

/* mobile phone */
@media (max-width: 576px) {
  html {
    font-size: 80%;
  }
}


